.footer1 {
            list-style: none;
        }

        .footer1 a {
            text-decoration: none;
            color: grey;
        }

        .footer2 {
            list-style: none;
        }

        .footer2 a {
            text-decoration: none;
            color: grey;
        }